# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl

# Logs
*.log

# Ansible
*.retry
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
